.quote {
  padding: 20px;
  color: white;
  font-size: 24px;
  width: auto;
  margin-top: 50px;
  &__author {
    text-align: left;
    font-style: normal;
    margin: 10px;
  }
  .is-ready & {
    background-color: rgba(black, 0.8);
  }
}
.holder {
  border: 1px solid black;
  margin: 5px;
  background-color: rgba(black, 0.9);
}